*{
    margin: 50;
    padding: 50;
}

#titulo{
    font-family: Comic Sans, Comic Sans MS, cursive;
    color: #ffffff;
    margin-left:auto;
    margin-top: 0;
    text-align: center;
}

#subtitulo{
    font-family: Comic Sans, Comic Sans MS, cursive;
    color: #ffffff;
    margin-left:auto;
    text-align: left;
}

fieldset{
    border: 1;
}

body{
    background-color: #37808d;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 1em;
    color: #ffffff;
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 2%;
    justify-content: center;
    
}

input, select, textarea, button{
    border-radius: 4px;
}

.govBrand {
    display: inline-block;
    width: 10rem;
    margin-left: 29%;
    margin-bottom: 0%;
    
}

.headerSec {
    background-color: #37808d;
    padding: 0.8em 0; }

    